<%= form_for @tag do |f| %>
	<% style ||= '' %>
    <div class='input-group'>
	    <%= f.text_field :name, placeholder: "Наименование библиотеки", class: "form-control" %>
		    <span class='input-group-btn'>
				<%= f.button style == :edit ? "Переименовать" : "Добавить" , type: 'submit', class: "btn btn-primary" %>
			</span>
    </div>
<% end %>