<h1>Astro Chain V 0.000</h1>
<h2>Составление и хранение цепочек диспозиций</h2>

<p>Цепочки описывают глубинный слой психики человека, который остается неизменным в любых обстоятельствах. Это же еще один способ понять, как протекает энергия от планеты к планете и каким образом можно воспользоваться этой информацией.</p>

<p>Аспект – это самый распространенный вид связи между планетами, однако есть и более тонкие, скрытые связи – это через знак и действие этих связей на тонкие материи намного сильнее аспектных влияний.</p>

<p>Диспозиция – это и есть взаимодействие планет через знак – наиболее утонченная форма связи между планетами. Диспозиция показывает не последовательность событий, а внутреннюю логику психических процессов в человеке.</p>
