<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Astro Chain 0.03а</h3>
  </div>
  <div class="panel-body">
    <h4>Составление и хранение цепочек диспозиций</h4>

	<p>Цепочки описывают глубинный слой психики человека, который остается неизменным в любых обстоятельствах. Это еще один способ понять, как протекает энергия от планеты к планете и каким образом можно воспользоваться этой информацией.</p>
	<!-- обфускация адреса -->
	<p>Автор: <%= mail_to("moxc.lixamg@nikskaxbruxbus".delete("x").reverse, "Алексей Кожин", encode: "javascript") %></p>
	<p>Страница проекта на Github: <a href="https://github.com/AlexGenK/AstroChains" target="_blank">https://github.com/AlexGenK/AstroChains</a></p>
  </div>
</div>